#set($layout="/WEB-INF/content/layout/none.vm")
//stats key words,
var   metric_name="#springMessage('label.5minExceptionStats')";
var cur = db.${project.metricCollection}.find({name:/exception/,timestamp:{'$gt':new Date(new Date() - 5*60*1000)}});
var content = "";
var count=0;
cur.forEach( function(log) {
    count++;
    content =content+"\
    "+log.timestamp.toLocaleDateString()+" "+ log.timestamp.toLocaleTimeString() +" " +log["message"];
});

db.${project.metricCollection}.save({name:metric_name,value:count, content:content,timeStamp:new Date().getTime()});
return    "count:"+ count +", content"+content;