#set($mainMenu='logs')
#set($logUrl=$link.setRelative("/projects/${project.name}/logs/more?format=json"))
#parse("/WEB-INF/content/project/_header.vm")
<script src="$link.setRelative('/jsEditor/codemirror.js')" type="text/javascript"></script>
<script src="$link.setRelative('/jsEditor/model/javascript.js')" type="text/javascript"></script>
<script src="$link.setRelative('/js/jquery.stream-1.2.js')" type="text/javascript"></script>
<link rel="stylesheet" href="$link.setRelative('/jsEditor/codemirror.css')">
<link rel="stylesheet" href="$link.setRelative('/jsEditor/model/javascript.css')">
	    <style type="text/css">
			.CodeMirror-scroll {
				height:400px;
			}
		</style>
<script type="text/javascript">
    var lastDate=0;
	var  script_text;
    $(document).ready(function() {
         $("#clear_btn").click(function() {
             script_text.setValue("");
         });
         $("#search_btn").click(function() {
             var params = jQuery.param({
            start:$("#datepicker_start").val(),
            end:$("#datepicker_end").val(),
            keyWord:$("#key_word_input").val(),
            level: $("#level").val()});
            $("#search_btn").attr("disabled",true);
            $("#search_btn").val("请等待");
			jQuery.ajax({
                url:"$logUrl",
                data: params,
                type:'get',
                success : function(msg) {
	                $("#search_btn").val("查询");
	                $("#search_btn").attr("disabled",false);
	                appendLogs(msg);
                }
            });
         });
        $("#refresh_check_box").click(function(){
            var checked = $("#refresh_check_box").attr("checked");
            var disabled=checked?"disabled":false;
             $("#query_div").children().attr("disabled",disabled);
             if(checked){
                 refresh_logs();
             }
        });
        $("#download_btn").click(function(){
            var params = jQuery.param({
                start:$("#datepicker_start").val(),
                end:$("#datepicker_end").val(),
                keyWord:$("#key_word_input").val(),
                level: $("#level").val()});

            window.location  ="$link.setRelative("/projects/${project.name}/logs/download")?"+ params;

        });

		 
	script_text = CodeMirror.fromTextArea(document.getElementById("script_text"), {
	lineNumbers: true,
	electricChars: false
  });
		var now = new Date();
        var today =now.getFullYear()+"-"+(now.getMonth()+1)+"-"+now.getDate()+" 00:00:00";
        $("#datepicker_start").val(today);

    });
    function refresh_logs(){

            var params = jQuery.param({});

            jQuery.ajax({
                url:"$logUrl",
                data: params,
                type:'get',
                success : function(msg) {
                    appendLogs(msg);
                    if($("#refresh_check_box").attr("checked")){
                        setTimeout("refresh_logs()",5000);
                    }
                }
            });
    }
    function appendLogs(log){
      script_text.setValue(log);
    }
</script>

<div id="content">
    <div>
        <h2>日志</h2>
    </div>
    <div style="display: inline;"  id="query_div">
    关键字:<input type="text" id="key_word_input"  />
    日志级别:<select id="level" >
        <option value="">ALL</option>
         <option value="DEBUG">DEBUG</option>
        <option value="INFO">INFO</option>
        <option value="WARN">WARN</option>
        <option value="ERROR">ERROR</option>
    </select>
  Date: <input type="text" id="datepicker_start"  onClick="WdatePicker({startDate:'%y-%M-%d 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})")">
  to: <input type="text" id="datepicker_end"      onClick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:false})">

    <input type="button" id="search_btn"  value="查询"  />
    </div>
    <input type="button" id="download_btn"  value="下载"  />
    <input type="checkbox" id="refresh_check_box"  /> 实时输出
    <input type="button" id="clear_btn" value="清空输出"/><br/>

</div>

<textarea id="script_text" style="width:90%">正在加载</textarea>
