<div ng-controller="SettingCtrl">
    <div ng-include="'app/partial/project/_project_nav.html'" ></div>
    <br/>

    <button class="btn btn-danger btn-sm pull-right" confirmed-click="deleteProject()"
            ng-confirm-click="{{'tip.confirmDelete' | translate}}[{{project.alias}}]?"> {{"label.deleteProject" | translate}}</button>
    <ul class="nav nav-tabs   " role="tablist">
        <li class="active"><a data-target="#home" role="tab" data-toggle="tab" translate>label.general</a></li>
        <li><a data-target="#profile" role="tab" data-toggle="tab" translate>label.dogs</a></li>

        <li><a data-target="#settings" role="tab" data-toggle="tab" translate>label.plugins</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="padding-top: 12px;">
        <div class="tab-pane active " id="home" ng-controller="SettingBasicCtrl">

            <form id="info_form"  method="post" class="form-horizontal ">
                <div ng-include="'app/partial/project/_info.html'"></div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label" translate>label.admin</label>
                    <div class="col-sm-10">
                        <input type="text"  class="form-control" input-tip="多个用逗号分隔"   ng-model="admins" ng-value="admins"/>

                    </div>
                </div>


                <div class="form-group">
                    <label  class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <a href="javascript:void(0)" class="btn btn-primary" ng-click="updateBasic()"  translate>label.ok</a>

                    </div>
                </div>
            </form>

        </div>
        <div class="tab-pane" id="profile" >
             <div ng-include="'app/partial/setting/dog.html'"></div>
        </div>

        <div class="tab-pane" id="settings" ng-controller="SettingExtCtrl">

            <form id="ext_form"   >
                <table width="100%">
                    <tr  ><td  colspan="3">

                        <label translate >
                          label.httpNotify
                        </label></td>
                        <td></td></tr>
                    <tr ><td class="setting-name">url:</td>
                        <td class="setting-main"><input name="_httpNotifyConfig_url" class="setting-input" ng-model="project.properties.httpNotifyConfig_url" placeholder=""/></td>
                    </tr>
                    <tr ><td class="setting-name">encode</td><td class="setting-main"><input name="" class="setting-input"  ng-model="project.properties.httpNotifyConfig_encode" /></td>
                    </tr>
                    <tr><td class="setting-name" translate>label.notifyDataTemplate</td><td class="setting-main"><textarea style="height: 80px"    class="setting-input"  ng-model="project.properties.httpNotifyConfig_template" ></textarea></td>
                    </tr>
                    <tr><td class="setting-name" translate>label.notifyCustomData</td><td class="setting-main"><textarea style="height: 90px"   class="setting-input"  ng-model="project.properties.httpNotifyConfig_properties"></textarea> </td>
                    </tr>
                </table>

                <input type="button" class="btn btn-primary" ng-click="updateExt()" value="{{'label.ok' | translate}}"/>

                <a class="btn"  id="http_alert_test_btn" ng-click="testAlert()" translate> label.test</a>
            </form>
            <br/>

        </div>
    </div>
</div>
