#set($mainMenu='charts')
#parse("/WEB-INF/content/project/_header.vm")
<script type="text/javascript">
    $(document).ready(function() {
        $("#add_form").validate();

        $("#run_btn").click(function() {
            var params = jQuery.param({script:($("#script_text").val())   });

            jQuery.ajax({
                        url:"$link.setRelative( "/projects/${project.name}/mongo/console?format=json")",
                        data: params,
                        type:'post',
                        success : function(msg) {
                            $("#console").append(msg.retval);
                            $("#console").append("<br/>");
                        }
                    });
        });
    });
</script>
<div id="content">
    <div>
        <h2>图表$!chart.name</h2>
    </div>

    <form id="add_form" action="$link.setRelative("/projects/$project.name/charts")" method="post">

        #if($chart)
            #set($readonly="readonly=true")
        #end
        名称:<input id="name" name="name" value="$!chart.name"  class="{required:true,minlength:2}" $!readonly/> <br/>

        脚本: <textarea id="query" name="query" rows="20" cols="80" class="{required:true,minlength:5}">$!chart.query</textarea> <br/>
        <input type="submit"  class="submit" value="确定"/>
    </form>

    <div id="console"></div>
</div>
