#set($mainMenu='charts')
#parse("/WEB-INF/content/project/_header.vm")
<script type="text/javascript">
    $(document).ready(function() {

    });
</script>
<div id="content">
    <div>
        <div>
            <h2>统计</h2>
        </div>
        <div class="contextual">
            <a href="$link.setRelative("projects/${project.Name}/charts/new")" class="icon icon-add">新建</a>
        </div>

    </div>
    <table class="list files">
        <thead>
        <tr>
            <th>名称</th>
            <th>描叙</th>
            <th>操作</th>

        </tr>
        </thead>
        <tbody>
            #foreach($chart in $project.charts)
            <tr class="file odd">
                <td><a href="$link.setRelative("/projects/${project.name}/charts/$chart.name")">$chart.name</a>
                </td>
                <td>$!chart.desc</td>
                <td>
                    <a href="$link.setRelative("/projects/${project.name}/charts/$chart.name/edit")">
                        <img src="$link.setRelative("/images/edit.png")" alt="edit"></a>
                    <a href="$link.setRelative("/projects/${project.name}/charts/$chart.name")/destroy"
                       onclick="if (confirm('您确定？')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', '4abnYPa12H4NuHA2sJ1UYtPz3jQokJWenODF5oTx75A='); f.appendChild(s);f.submit(); };return false;">
                        <img
                                src="$link.setRelative("/images/delete.png")" alt="Delete"></a>

                </td>
            </tr>
            #end

        </tbody>
    </table>
    <div>

    </div>
</div>
