#set($mainMenu='charts')
#parse("/WEB-INF/content/project/_header.vm")
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="$link.setRelative('/js/metric_chart.js')"></script>


<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});

    $(document).ready(function() {

        drawStats("stats_panel","$link.setRelative("/projects/${project.name}/charts/${chart.name}/render?format=json")",'${chart.name}') ;

    });
</script>
</div>