<?xml version="1.0" encoding="UTF-8"?>


<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <global-method-security pre-post-annotations="enabled">
        <!-- AspectJ pointcut expression that locates our "post" method and applies security that way
        <protect-pointcut expression="execution(* bigbank.*Service.post*(..))" access="ROLE_TELLER"/>
        -->
    </global-method-security>

    <http use-expressions="true" auto-config="true" access-denied-page="/check">
        <form-login  login-page="/login"  default-target-url="/"  />
        <intercept-url pattern="/" access="isAuthenticated()"  />
        <intercept-url pattern="/projects/**" access="isAuthenticated()"  />
        <intercept-url pattern="/admin/**" access="hasAuthority('ROLE_ADMIN')"/>
        <form-login/>
        <logout/>
        <remember-me/>


        <!-- Uncomment to limit the number of sessions a user can have 
        <session-management>
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="true"/>
        </session-management>
		-->
    </http>

    <beans:bean id="authenticationFailureHandler" class="com.skymobi.monitor.security.SelfAuthenticationFailureHandler"/>

    <authentication-manager>

        <authentication-provider user-service-ref="userManager"/>

    </authentication-manager>


</beans:beans>
