#set($layout="/WEB-INF/content/layout/none.vm")
<script type="text/javascript">
    $(document).ready(function () {
        $("#add_view_form").validate();
        $( "#delete_btn" ).live( "click", function() {
              if(confirm("您确定要删除视图:$!{view.name} 吗?"))
                window.location="#springUrl("/admin/views/destroy")"+"?name="+encodeURIComponent("$!{view.name}");
        });
    });

 </script>
<form id="add_view_form" action="#springUrl("/admin/views/")" method="POST">
    <fieldset class="ui-helper-reset">
        <label for="tab_title">视图名称</label>
        <input type="text" name="name" id="tab_title" value="$!{view.name}" minlength="3"
               class="required valid ui-widget-content ui-corner-all"/>
        <br/>
        包含项目：<br/>
        #foreach($project in $projects)

            <input name="projectName" type="checkbox"
                #if($view.projectNames.contains($project.name))
                   checked="checked"
                #end
                   value="$project.name">$project.alias<br/>

        #end
        <input type="submit" value="确定">
        #if($view)
            <input id="delete_btn" type="button" value="删除">
        #end
    </fieldset>
</form>