#set($layout="/WEB-INF/content/layout/none.vm")
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
	<link rel="shortcut icon" type="image/x-icon" href="#springUrl('/app/images/logo.png')"/>
    <title>闪电狗</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="app/js/vender/util/html5shiv.min.js"></script>
    <script src="app/js/vender/respond/respond.min.js"></script>
    <![endif]-->
    <link href="app/styles/style.css" rel="stylesheet">
    <link rel="stylesheet" href="app/js/vender/jsEditor/codemirror.css">
    <link rel="stylesheet" href="app/js/vender/jsEditor/model/javascript.css">
    <link href="app/js/vender/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="app/js/vender/jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="app/js/vender/jquery/jquery.validate.min.js"></script>
##    <link rel="stylesheet" href="app/js/vender/My97DatePicker/skin/WdatePicker.css">
    <script src="app/js/vender/My97DatePicker/WdatePicker.js" type="text/javascript"></script>

    <script type="text/javascript" src="app/js/vender/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="app/js/vender/angular/1.2.22/angular.min.js"></script>
    <script type="text/javascript" src="app/js/vender/angular/1.2.22/angular-animate.min.js"></script>
    <script type="text/javascript" src="app/js/vender/angular/1.2.22/angular-route.min.js"></script>


    <script src="app/js/vender/jsEditor/codemirror.js" type="text/javascript"></script>
    <script src="app/js/vender/jsEditor/model/javascript.js" type="text/javascript"></script>
    <script type='text/javascript' src="app/js/vender/highcharts/highcharts.js"></script>


    <script type="text/javascript" src="app/js/script/project.js"></script>
    <script type="text/javascript" src="app/js/script/setting.js"></script>
    <script type="text/javascript" src="app/js/script/user.js"></script>
    <script type="text/javascript" src="app/js/script/app.js"></script>
    <script type="text/javascript" src="app/js/script/util/directives.js"></script>

    <script>
         _auth={
           username:"$authz.principal"
           ,isAdmin:$authz.admin,
           isAuthenticated:$authz.isAuthenticated()

       };
   </script>
</head>
<body ng-app="app" >
<div ng-controller="MainController" >
<div id="header">
    <a class="btn header-title " href="#/" title="">
        <span  >{{pageTitle}}</span> </a>
    <a href="#/list" class="btn pull-left" >

        <img class=" mini-logo " src="#springUrl('/app/images/logo.png')" >
    </a>
    <div class="pull-right">
        <div class="btn-group">
            <a class="btn btn-sm   dropdown-toggle" data-toggle="dropdown">{{auth.username}}<span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">
                <li><a href="$link.setRelative("/j_spring_security_logout")">退出</a></li>

            </ul>

        </div>

    </div>
</div>

    <div class="container" >
      <div class="" ng-view></div>

    </div>

    <div class="fd-message" >
        <div class="message"   ng-repeat="message in messages"   ng-class="['bg-'+message.level]">{{message.content}}</div>
    </div>
</div>

</body>
</html>