#parse("/WEB-INF/content/layout/_header.vm")
<script type='text/javascript' src="#springUrl('/js/google-visualization-table.I.js')"></script>
<script type="text/javascript">

    $(document).ready(function () {

        drawUserTable();
    });

    var users =$fm.toJson($users);
    function drawUserTable() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', '注册时间');
        data.addColumn('boolean', '状态');

        for (var key in users) {
            data.addRow([  users[key].username , users[key].registerTime, users[key].enabled]);
        }


        var table = new google.visualization.Table(document.getElementById('users_table_div'));
        google.visualization.events.addListener(table, 'select',
                function (event) {
                    if (table.getSelection()[0]) {
                        var row = table.getSelection()[0].row;
                        var user = users[row];
                        $('#user_form_username').val(user.username);
                        $('#user_form_username_hidden').val(user.username);
                        $('#user_form_registerTime').val(user.registerTime);
                        $('#user_form_enable').attr('checked', user.enabled);

                    }
                });
        table.draw(data, {showRowNumber:false, 'allowHtml':true});
    }
</script>
<div id="content">
    <h2>系统配置</h2>


        <div id="tab-content-warnings" class="box">
            <div id='users_table_div'></div><br/>
            <form id="user_form" action="$link.setRelative("/admin/user/")" method="post">

                用户名: <input name="username" id='user_form_username'  value="" disabled="disabled" />
                <input name="username" id='user_form_username_hidden'  value="" type="hidden" /> <br/>
                注册时间:<input name="registerTime" id='user_form_registerTime' value="" disabled="disabled"/><br/>
                是否激活:<input name="enabled" id='user_form_enable' type="checkbox" checked=""/> <br/>

                <input type="submit" value="保存"/>
            ##                <a href="" class="icon icon-delete">删除</a>


            </form>

        </div>
</div>
