#parse("/WEB-INF/content/layout/_header.vm")
<script type="text/javascript">
    $(document).ready(function() {
        $("#new_form").validate();
    });
</script>
    <form id="new_form" action="$link.setRelative("/user")" method="post">
        <table>
            <tbody>
            #if($flashMsg)
                <tr><td></td><td align="left">$!flashMsg</td></tr>
            #end

            <tr>
                <td align="right"><label for="username">登录名:</label></td>
                <td align="left"><input id="username" name="username" class="{required:true,minlength:3}"  tabindex="1" type="text" value="$!user.username"></td>
            </tr>
            <tr>
                <td align="right"><label for="email">email:</label></td>
                <td align="left"><input id="email" name="email" class="{email:true}"  tabindex="1" type="text"   value="$!user.email"></td>
            </tr>
            <tr>
                <td align="right"><label for="password">密码:</label></td>
                <td align="left"><input id="password" name="password" class="{required:true,minlength:6}" tabindex="2" type="password"></td>
            </tr>
            <tr>
                <td align="right"><label for="password_again">密码确认:</label></td>
                <td align="left"><input id="password_again" name="password_again" class="{required:true,equalTo:'#password'}" tabindex="2" type="password"></td>
            </tr>
            <tr align="right">

                <td align="right">
                    <input type="submit" name="login" value="注册»" tabindex="3">
                </td>
            </tr>
            </tbody>
        </table>
        <script type="text/javascript">

        </script>
    </form>

