#parse("/WEB-INF/content/project/_header.vm")
<script type="text/javascript">
    $(document).ready(function() {
        $(".task_del_btn").click(function(e) {
            jQuery.ajax({
                        type:'delete',
                        url:"$link.setRelative( "/task/$project.name/")"+e.currentTarget.name,
                        success : function(msg) {
                            window.location="";
                        }
                    });
        });
        $("#refresh_metric_btn").click(function(e) {
            jQuery.ajax({
                        type:'get',
                        url:"$link.setRelative( "/metric/$project.name/refresh")",
                        success : function(msg) {
                            window.location="";
                        }
                    });
        });
    });
</script>
<div class="main">
<div class="box">
    <form id="add_form" action="$link.setRelative("/projects/$project.name")" method="post">
        <input name="name" type="hidden" value="$project.name"/>
        别名:<input name="alias" value="$project.alias"/><br/>
        数据库地址:<input name="host" value="$!{project.mongoDb.host}"/>
        数据库端口:<input name="port" value="$!{project.mongoDb.port}"/><br/>
        数据库用户名:<input name="userName" value="$!{project.mongoDb.userName}"/>
        数据库密码:<input name="password" value="$!{project.mongoDb.password}"/><br/>
        数据库名:<input name="dbName" value="$!{project.mongoDb.dbName}"/> <br/>
        度量表名:<input name="metricCollectionName" value="$!{project.metricCollectionName}"/><br/>
        <input type="submit" value="确定"/>
    </form>
</div>
<div class="box">
    <div >定时任务
        #set($taskLink='/task/'+$project.name)
        <div align="right">
            <form action="$link.setRelative($taskLink)" method="post">
                <input name="taskName" type="text">
                <input type="submit" value="添加任务">
            </form>
        </div>
    </div>

    #foreach($task in $project.tasks)
        <div title="$task.name">
            <a href="$link.setRelative("/task/$project.name/$task.name")">$task.name</a>
            <button name="$task.name"  class="task_del_btn" type="button">删除</button>
            <br/>
        </div>
    #end
</div>

<div class="box">
    <div >监控因子
        <button id="refresh_metric_btn">刷新</button></div>
    #foreach($metric in $project.metrics)
        <a href="$link.setRelative("/project/${project.name}")">$metric.name</a><br/>
    #end
</div>
</div>