#top-panel {
margin-bottom: 3pt;
height: 34px;
background: url(../images/topbar.png) repeat-x;
}
body {
font-family: Verdana, sans-serif;
font-size: 12px;
color: #484848;
margin: 0;
padding: 0;
min-width: 900px;
}
#top-menu {
background: #2C4056;
color: white;
height: 1.8em;
font-size: 0.8em;
padding: 2px 2px 0px 6px;
}
#top-menu ul {
margin: 0;
padding: 0;
}
#top-menu li {
float: left;
list-style-type: none;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
white-space: nowrap;
}
#top-menu a {
color: white;
margin-right: 8px;
font-weight: bold;
}
#header {
height: 5.3em;
margin: 0;
background-color: #507AAA;
color: #F8F8F8;
padding: 4px 8px 0px 6px;
position: relative;
}
h1 {
margin: 0;
padding: 0;
font-size: 24px;
}
#main-menu {
position: absolute;
bottom: 0px;
left: 6px;
margin-right: -500px;
}
#main-menu ul {
margin: 0;
padding: 0;
}
#main-menu li {
float: left;
list-style-type: none;
margin: 0px 2px 0px 0px;
padding: 0px 0px 0px 0px;
white-space: nowrap;
}
#main-menu li a {
display: block;
color: white;
text-decoration: none;
font-weight: bold;
margin: 0;
padding: 4px 10px 4px 10px;
}
.contextual {
float: right;
white-space: nowrap;
line-height: 1.4em;
margin-top: 5px;
padding-left: 10px;
font-size: 0.9em;
}
.icon-add {
background-image: url(../images/add.png);
}
.icon-refresh {
background-image: url(../images/up.gif);
}
.icon-delete {
background: url(../images/delete.png);
}
.icon {
background-position: 0% 50%;
background-repeat: no-repeat;
padding-left: 20px;
padding-top: 2px;
padding-bottom: 3px;
}

.box {
padding: 6px;
margin-bottom: 10px;
background-color: #F6F6F6;
color: #505050;
line-height: 1.5em;
border: 1px solid #E4E4E4;
}
.hidden{
display: none;
}
#content {
width: auto;
border-right: 0;
background-color: white;
margin: 0px;
padding: 6px 10px 10px 10px;
z-index: 10;
}
#content .tabs {
height: 2.6em;
margin-bottom: 1.2em;
position: relative;
overflow: hidden;
}
#content .tabs ul {
margin: 0;
position: absolute;
bottom: 0;
padding-left: 1em;
width: 2000px;
border-bottom: 1px solid #BBB;
}
#content .tabs ul li {
float: left;
list-style-type: none;
white-space: nowrap;
margin-right: 8px;
background: white;
position: relative;
margin-bottom: -1px;
}
li {
display: list-item;
text-align: -webkit-match-parent;
}
#content .tabs ul li a {
display: block;
font-size: 0.9em;
text-decoration: none;
line-height: 1.3em;
padding: 4px 6px 4px 6px;
border: 1px solid #CCC;
border-bottom: 1px solid #BBB;
background-color: #EEE;
color: #777;
font-weight: bold;
}
#content .tabs ul li a.selected {
background-color: white;
border: 1px solid #BBB;
border-bottom: 1px solid white;
}
a, a:link, a:visited {
color: #2A5685;
text-decoration: none;
}
#main-menu li a.selected, #main-menu li a.selected:hover {
background: white;
color: #555;
}
h2 {
font-size: 20px;
padding: 2px 10px 1px 0px;
margin: 0 0 10px 0;
border-bottom: 1px solid #BBB;
color: #444;
}
table.list {
border: 1px solid #E4E4E4;
border-collapse: collapse;
width: 100%;
margin-bottom: 4px;
}
table.list th {
background-color: #EEE;
padding: 4px;
white-space: nowrap;
}
thead {
display: table-header-group;
vertical-align: middle;
border-color: inherit;
}
.odd {
background-color: #F6F7F8;
}
tr {
display: table-row;
vertical-align: middle;
border-color: inherit;
}
tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}
table.files tr.file td {
text-align: center;
}
.monitortoolbar {
background-color: #ffffff;
border-bottom: solid #ABB1C7;
border-width: 1px 0 0;
}
#account {
    float: right;
}

#login-form table {
    margin-top: 5em;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #FDBF3B;
    background-color: #FFEBC1;
}
#login-form table td {
    padding: 6px;
}
#login-form label {
    font-weight: bold;
}
#login-form input#j_username, #login-form input#j_password {
    width: 300px;
}