<div id="header">
    <h1>闪电狗</h1>

    <div id="main-menu">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
<div id="content">
    <div class="contextual">
        <a href="$link.setRelative("projects/new")" class="icon icon-add">新建项目</a> |
    </div>
    <div>
        <h2>所有项目</h2>
    </div>
    <table>
        <tbody>
        <tr>
            #foreach($project in $projects)
                <td>
                    #if($warningProjectNames.contains(${project.name}))
                        <img class="icon24x24 "  src="#springUrl("/images/red.png")" alt="alert" title="清空告警，可以变蓝">
                    #else
                        <img class="icon24x24 "  src="#springUrl("/images/blue.png")" alt="fine" title="没有任何告警，真棒">
                    #end
                </td>
                <td style="vertical-align: middle;">
                    <a href="$link.setRelative("/projects/${project.name}")">$project.alias</a>
                #if($project.admins.size() > 0)
                    ($!{project.admins.get(0)})
                #end</td>
            </tr>
            #end

        </tbody>
    </table>
</div>
