#macro(showProject $project)
<tr>

    <td>
        #if(${project.status}=="ERROR")
            <img class="icon24x24 "  src="#springUrl("/images/red.png")" alt="alert" title="清空告警，可以变蓝">
        #elseif(${project.status}=="WARN")
            <img class="icon24x24 "  src="#springUrl("/images/yellow.png")" alt="alert" title="清空告警，可以变蓝">
        #else
            <img class="icon24x24 "  src="#springUrl("/images/blue.png")" alt="alert" title="真棒">
        #end
    </td>
    <td style="vertical-align: middle;">
        <a href="$link.setRelative("/projects/${project.name}")">$project.alias</a>
        #if($project.admins.size() > 0)
            ($!{project.admins.get(0)})
        #end</td>

</tr>
#end
<div id="header">
    <h1>闪电狗</h1>

    <div id="main-menu">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $("#new_project_btn").click(function(){});
        $( "#tabs").tabs();
        $( "#tabs span.ui-icon-pencil" ).live( "click", function() {
            window.location="#springUrl("/admin/views/edit")"+"?name="+encodeURIComponent($(this).text());
        });

        $("#tabs_add").click(function(){

            return false;
        });

    });
</script>
<div id="content">

    <div id="tabs">

        <ul>
            <div class="contextual" >
                <a  id="new_project_btn" href="$link.setRelative("projects/new")" class="icon icon-add">新建项目</a>
            </div>
            <li><a href="#tabs-all">所有项目</a></li>
            #foreach($view in $views)
                <li><a href="#tabs-$view.name">$view.name</a>
                #if($authz.isAdmin())
                    <span class="ui-icon ui-icon-pencil">$view.name</span>
                #end
                </li>
            #end
            #if($authz.isAdmin())
                <li><a id="tabs_add" href="#springUrl("/admin/views/new")">+添加</a></li>
             #end

        </ul>
        <div id="tabs-all">
            <table>
                <tbody>
                    #foreach($project in $projects)
                        #showProject($project)
                    #end

                </tbody>
            </table>
        </div>
        #foreach($view in $views)
            <div id="tabs-$view.name">
                <table>
                    <tbody>
                        #foreach($projectName in $view.projectNames)

                        #foreach($project in $projects)
                            #if($project.name==$projectName)
                                #showProject($project)
                            #end
                        #end
                  #end
                    </tbody>
                </table>
            </div>
        #end

    </div>

</div>
