<script type="text/javascript">

    $(document).ready(function() {
        $("#add_form").validate();
    });
</script>
<div id="header">
    <h1>闪电狗</h1>
    <div id="main-menu">
    </div>
</div>
<div>
<form id="add_form" action="$link.setRelative('/projects')" method="post">
    名称<input name="name"  class="required valid" minlength="3"  type="text">(限字母、数字)<br/>
    别名:<input name="alias"   class="required valid" minlength="3"   type="text" /><br/>
    数据库地址:<input name="mongoUri"   class="required valid" minlength="3"   type="text"   style="width: 250px"/><br/>
    mongodb://[username:password@]host1[:port1][,host2[:port2],...[,hostN[:portN]]][/[database][?options]]<br/>
    日志表名:<input name="logCollection"  class="required valid" minlength="3"    type="text" />(与log4j配置的表名相同)<br/>
    邮件列表:<input name="mailList" value="${authz.principal}@sky-mobi.com" type="text"  />（逗号分隔）<br/>
    <input type="submit" value="确定"/>

</form>
</div>


