<script type="text/javascript">

    $(document).ready(function() {
        $("#add_form").validate();
    });
</script>
<div id="header">
    <h1>闪电狗</h1>
    <div id="main-menu">
    </div>
</div>
<div>

<form id="add_form" action="$link.setRelative('/projects')" method="post">
<table  width="100%">
    #if($flashMsg)
        <tr ><td class="setting-name"></td>
            <td class="setting-main"> <img src="#springUrl("/images/del.gif")" alt="error">   $flashMsg</td>
        </tr>
    #end
    <tr ><td class="setting-name">名称:(限字母、数字)</td>
        <td class="setting-main"><input name="name" class="required valid setting-input"   minlength="3"  value="$!project.name" /></td>
    </tr>
    <tr ><td class="setting-name">别名:</td>
        <td class="setting-main"><input name="alias" class="required valid setting-input"   minlength="3"  value="$!project.alias" /></td>
    </tr>
    <tr ><td class="setting-name">数据库地址:</td>
        <td class="setting-main"><input name="mongoUri" class="required valid setting-input"   minlength="3"  value="$!project.mongoUri" /></td>
    </tr>
    <tr ><td class="setting-name">日志表名:(与log4j配置的表名相同)</td>
        <td class="setting-main"><input name="logCollection" class="required valid setting-input"   minlength="3"  value="$!project.logCollection" /></td>
    </tr>
    <tr><td></td><td colspan="2">mongodb://[username:password@]host1[:port1][,host2[:port2],...[,hostN[:portN]]][/[database][?options]]</td> </tr>
    <tr ><td class="setting-name">邮件列表:（逗号分隔）</td>
        <td class="setting-main"><input name="mailList" class="required valid setting-input"   minlength="3"  value="$!project.mailList" /></td>
    </tr>

</table>
    <input type="submit" value="确定"/>

</form>
</div>


