#set($mainMenu='settings')
#parse("/WEB-INF/content/project/_header.vm")
<script type='text/javascript' src="#springUrl('/js/google-visualization-table.I.js')"></script>
<script type="text/javascript">

    $(document).ready(function () {
        //选择显示哪个标签
        $("#tab-${module}").addClass("selected");
        $("#tab-content-${module}").removeClass("hidden");
        $("#dogs_form").validate();
        var params = jQuery.param({script:"return db.${project.logCollection}.stats()"});
        jQuery.ajax({
            url:"#springUrl( "/projects/${project.name}/mongo/console?format=json")",
            data: params,
            type:'post',
            success : function(msg) {
                var stats=msg.retval;
                $("#log_collection_stats").append("占用空间："+new Number(stats.storageSize/(1024*1024)).toFixed(2)+"m;记录条数:"+stats.count+";cap模式："+stats.capped);

            }
        });

        drawDogsTable();
    });

    var dogs =$fm.toJson($project.metricDogs);
    function drawDogsTable() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', '时间段');
        data.addColumn('boolean', '状态');

        for (var key in dogs) {
            data.addRow([  dogs[key].name , dogs[key].startTime +"-"+dogs[key].endTime, dogs[key].enable]);
        }


        var table = new google.visualization.Table(document.getElementById('dogs_table_div'));
        google.visualization.events.addListener(table, 'select',
                function (event) {
                    if (table.getSelection()[0]) {
                        var row = table.getSelection()[0].row;
                        var dog = dogs[row];
                        $('#dogs_form_name').val(dog.name);
                        $('#dogs_form_desc').val(dog.desc);
                        $('#dogs_form_enable').attr('checked', dog.enable);
                        $('#dogs_form_metricName').val(dog.metricName);
                        $('#dogs_form_operator').val(dog.operator);
                        $('#dogs_form_targetValue').val(dog.targetValue);
                        $('#dogs_form_startTime').val(dog.startTime);
                        $('#dogs_form_endTime').val(dog.endTime);
                        $('#dogs_form_excludeTimeMode').attr('checked',dog.excludeTimeMode);
                    }
                });
        table.draw(data, {showRowNumber:false, 'allowHtml':true});
    }
</script>
<div id="content">
    <div class="contextual" style="position:absolute; right:10px;">
        #if($authz.hasProject($project))
            <a href="$link.setRelative("/projects/${project.name}/destroy")" onclick="return confirm('您确定？')"
               class="icon icon-delete" >删除</a>
        #end
    </div>
	<h2>配置</h2>
    <div class="tabs">
        <ul>
            <li><a href="$link.setRelative("/projects/$project.name/settings/info")" class="info-tab " id="tab-info"
                    >信息</a></li>
            <li><a href="$link.setRelative("/projects/$project.name/settings/warnings")" class="warning-tab"
                   id="tab-warnings"
                    >告警</a></li>
            <li><a href="$link.setRelative("/projects/$project.name/settings/members")" class="warning-tab"
                   id="tab-members"
                    >成员</a></li>
            <li><a href="$link.setRelative("/projects/$project.name/settings/ext")" class="ext-tab"
                   id="tab-ext"
                    >插件</a></li>
        </ul>

    </div>
    <div>
        <div id="tab-content-info" class="box hidden">

            <form id="info_form" action="$link.setRelative("/projects/$project.name/info")" method="post">
                <table width="100%">
                <input name="name" type="hidden" value="$project.name"/>
                    <tr ><td class="setting-name">别名:</td><td class="setting-main"><input name="alias"  class="setting-input"  value="$project.alias"/></td> </tr >
                    <tr ><td class="setting-name">数据库地址:</td><td class="setting-main"><input name="mongoUri"  class="setting-input"  value="$project.mongoUri"  /></td> </tr >
                    <tr ><td class="setting-name"></td><td class="setting-main"> mongodb://[username:password@]host1[:port1][,host2[:port2],...[,hostN[:portN]]][/[database][?options]]</td> </tr >
                    <tr ><td class="setting-name">度量表名:</td><td class="setting-main"><input name="metricCollection"  class="setting-input"  value="${project.metricCollection}"/></td> </tr >
                    <tr ><td class="setting-name">原始日志表:</td><td class="setting-main"><input name="logCollection"  class="setting-input"  value="$!{project.logCollection}"/><div id="log_collection_stats"></div></td> </tr >
                    <tr ><td class="setting-name">邮件列表（逗号分隔）:</td><td class="setting-main"><input name="mailList"  class="setting-input" value="$!{project.mailList}"/></td> </tr >
                </table>
                 <input type="submit" value="确定"/>

            </form>

        </div>

        <div id="tab-content-warnings" class="box hidden">
            <div id='dogs_table_div'></div><br/>
            <form id="dogs_form" action="$link.setRelative("/projects/$project.name/warnings")" method="post">

                名称:<input name="name" id='dogs_form_name'  class="{required:true,minlength:3}" value=""/> <br/>
               <label class="setting-name">描叙:</label> <input name="desc" id='dogs_form_desc'  style="width: 80%" value=""/><br/>
                是否开启:<input name="enable" id='dogs_form_enable' type="checkbox" checked=""/> <br/>
                如果：   <select id="dogs_form_metricName" name="metricName">
                #foreach($metricName in $project.findMetricNames() )
                    <option>$metricName</option>
                #end
            </select>
                <select id="dogs_form_operator" name="operator" >
                        <option value="<">小于</option>
                        <option value="=">等于</option>
                        <option value=">">大于</option>
                        </select>
                目标值：<input id='dogs_form_targetValue' name="targetValue" value="0"><br/>

                开始时间:<input name="startTime" id='dogs_form_startTime'   class="{required:true,name:true,minlength:8}" value="00:00:00"/> <br/>
                结束时间:<input name="endTime" id='dogs_form_endTime'  class="{required:true,name:true,minlength:8}" value="24:00:00"/> <br/>
                是否为除了此时间段模式: <input name="excludeTimeMode" id='dogs_form_excludeTimeMode' type="checkbox" /> (在此时间段内不会告警)<br/>
                <input type="submit" value="保存"/>
##                <a href="" class="icon icon-delete">删除</a>


            </form>

        </div>

        <div id="tab-content-members" class="box hidden">

            <form id="members_form" action="$link.setRelative("/projects/$project.name/members")" method="post">
                <table width="100%">
                    <tr ><td class="setting-name">管理员（逗号分隔）:</td><td class="setting-main"><input name="admins"  class="setting-input"   value="$fm.join($project.admins)"/></td>

                 </table><input type="submit" value="确定"/>
            </form>
    </div>

        <div id="tab-content-ext" class="box hidden">

            <form id="ext_form" action="$link.setRelative("/projects/$project.name/ext")" method="post">
                <table width="100%">
                    <tr class="optional-block-start row-set-start"  ref="cb0"><td colspan="3"><input name="_httpNotifyConfig_enable" class=" " onclick="" type="checkbox" id="cb0"><label class="attach-previous">
                        HTTP告警通知(POST):
                    </label></td>
                        <td></td></tr>
                    <tr ><td class="setting-name">url:</td><td class="setting-main"><input name="_httpNotifyConfig_url" class="setting-input"  value="$!project.properties.get('httpNotifyConfig_url')"/></td>
                    </tr>
                    <tr ><td class="setting-name">编码:</td><td class="setting-main"><input name="_httpNotifyConfig_encode" class="setting-input"  value="$!project.properties.getProperty('httpNotifyConfig_encode','utf-8')"/></td>
                    </tr>
                    <tr><td class="setting-name">发送数据模板:</td><td class="setting-main"><textarea name="_httpNotifyConfig_template"  class="setting-input" >$!project.properties.get('httpNotifyConfig_template')</textarea></td>
                    </tr>
                    <tr><td class="setting-name">模板变量:</td><td class="setting-main"><textarea name="_httpNotifyConfig_properties"  class="setting-input"  >$!project.properties.get('httpNotifyConfig_properties')</textarea> </td>
                  </tr>
                </table>

                <input type="submit" value="确定"/>
            </form>
        </div>