#set($mainMenu='index')
#parse("/WEB-INF/content/project/_header.vm")
<script charset="utf-8" src="#springUrl('/js/metric_chart.js')"></script>
<script charset="utf-8" src="#springUrl('/js/addTab.js')"></script>
	<style>
	#dialog label, #dialog input { display:block; }
	#dialog label { margin-top: 0.5em; }
	#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
	#add_tab { cursor: pointer; }
	</style>

<script type="text/javascript">

    $(document).ready(function () {
    	#foreach($key in ${views.keySet()})
        	ajaxChart("metric_$key","${views.get($key)}","$key");
        #end
        $('#last_selector').val('$!{project.timeRange.last}');
        $('#unit_selector').val('$!{project.timeRange.unit}');
        initAddTab();
        $("input[name=extMetrics]").click(function(){
             var title=$("#tab_title").attr("value")||$(this).attr("value");
             $("#tab_title").attr("value",title);
        });
        $( "#refresh_button" ).button();

    });
	
	function ajaxChart(divname,metricName,title){
		drawCharts(divname, "$link.setRelative("/projects/${project.name}/metrics")"+"?metricName="+metricName, title);
	}
	
	function addAjaxChart(divname,metricName,title){
		drawCharts(divname, "$link.setRelative("/projects/${project.name}/metrics")"+"?metricName="+metricName+"&newChartTitle="+title, title);
	}
	
	function deleteChart(title){
		jQuery.ajax({url: "#springUrl("/projects/${project.name}/metrics/destroy")"+"?title="+encodeURIComponent(title)});
	}
	
</script>

<div id="content"> 
     <div class="MonitorToolbar" >
     <form action="$link.setRelative("/projects/${project.name}/metrics/timeRange")" method="post">
           显示范围：<select name="last" id="last_selector" class="FilterFormText" style="visibility: visible; ">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="4">4</option>
            <option value="8">8</option>
            <option value="12">12</option>
            <option value="24">24</option>
            <option value="30">30</option>
            <option value="48">48</option>
            <option value="60">60</option>
            <option value="90">90</option>
            <option value="120">120</option>
        </select>
        <select name="unit" id="unit_selector" class="FilterFormText" style="visibility: visible; ">
            <option value="12">Minutes</option>
            <option value="10">Hours</option>
            <option value="5">Days</option>
        </select>
    	<button id="refresh_button"  type="submit" >刷新</button>
        <button id="add_tab" type="button" class="contextual">添加图表</button>
      </form>
    	
    </div>
    <div id="dialog" title="复合图表">
   			    <label for="tab_title">图表名称</label>
				<input type="text" name="tab_title" id="tab_title" value="" class="ui-widget-content ui-corner-all setting-input" />
		<form>
		<table>
		#foreach($varName2 in $metricNames)
			<tr>
				<td><input type="checkbox" name="extMetrics" value="$varName2" /></td>
				<td>$varName2</td>
			</tr>
		#end
		</table>
		</form>
	</div>

	
    <div id="tabs" style="text-align:center">
    	<ul>
    	#foreach($key in ${views.keySet()})
			<li><a href="#tabs-$velocityCount">$key</a>
			<span class="ui-icon ui-icon-close">Remove Tab</span></li>
		#end
		</ul>
        #foreach($key in ${views.keySet()})
        <div id="tabs-$velocityCount">
            <div id="metric_$key"></div>
          </div>
        #end
    </div>
</div>
