<div class="form-group"  ng-hide="project.createTime" >
    <label  class="col-sm-2 control-label">名称</label>
    <div class="col-sm-10" >
      <div input-tip="限字母、数字" >
          <input   name="name"  ng-model="project.name"
                   ng-change="projectNameChanged($(this).val())" class="required valid setting-input form-control"  minlength="3"  >
      </div>
    </div>
</div>
<div class="form-group">
    <label  class="col-sm-2 control-label">别名</label>
    <div class="col-sm-10">
        <input  name="alias"  ng-model="project.alias"  class="required valid setting-input form-control"   minlength="3"  >

    </div>
</div>
<div class="form-group">
    <label  class="col-sm-2 control-label">数据库地址</label>
    <div class="col-sm-10">
        <div input-tip="mongodb://[username:password@]host1[:port1][,host2[:port2],...[,hostN[:portN]]][/[database][?options]]" >
        <input  ng-model="project.mongoUri"  name="mongoUri" class="required valid setting-input form-control"   minlength="3"  >
    </div>   </div>
</div>
<div class="form-group">
    <label  class="col-sm-2 control-label">日志表名	</label>
    <div class="col-sm-10">
        <div input-tip="日志源，与log4j配置表名相同" >
        <input  name="logCollection" ng-model="project.logCollection" class="required valid setting-input form-control"   minlength="3"  >
    </div>         </div>
</div>
<div class="form-group">
    <label  class="col-sm-2 control-label">度量表名	</label>
    <div class="col-sm-10">
        <div input-tip="闪电狗内部使用" >
        <input  name="logCollection" ng-model="project.metricCollection" class="required valid setting-input form-control"   minlength="3"  >
        <span class="text-info"></span>
            </div>
    </div>
</div>
<div class="form-group">
    <label  class="col-sm-2 control-label">邮件列表</label>
    <div class="col-sm-10">
        <div input-tip="多个时用逗号分隔" >
        <input    ng-model="project.mailList" class="required valid setting-input form-control"   minlength="3"  >

    </div>       </div>
</div>
