<div class="form-group"  ng-hide="project.createTime" >
    <label  class="col-sm-2 control-label">名称</label>
    <div class="col-sm-10" >
      <div input-tip="限字母、数字" >
          <input   name="name"  ng-model="project.name"
                   ng-change="projectNameChanged($(this).val())" class="required valid setting-input form-control"  minlength="3"  >
      </div>
    </div>
</div>
<div class="form-group">
    <label  class="col-sm-2 control-label">别名</label>
    <div class="col-sm-10">
        <input  name="alias"  ng-model="project.alias"  class="required valid setting-input form-control"   minlength="3"  >

    </div>
</div>
<div class="form-group">
    <label  class="col-sm-2 control-label">数据库地址</label>
    <div class="col-sm-10">
        <div input-tip="mongodb://[username:password@]host1[:port1][,host2[:port2],...[,hostN[:portN]]][/[database][?options]]" >
        <input  ng-model="project.mongoUri"  name="mongoUri" class="required valid setting-input form-control"   minlength="3"  >
    </div>   </div>
</div>
<div class="form-group">
    <label  class="col-sm-2 control-label">日志表名	</label>
    <div class="col-sm-10">
        <div input-tip="日志源，与log4j配置表名相同" >
        <input  name="logCollection" ng-model="project.logCollection" class="required valid setting-input form-control"   minlength="3"  >
    </div>
        <b> {{dbMode.count}}</b> 条,
        <span ng-class="{danger:!dbMode.capped}">{{dbMode.size|number:4}}M({{dbMode.capped?"仓库模式":"非仓库模式"}})</span>
        <button type="button"  ng-click="dbMode.dbEditing=true" ng-show="!dbMode.dbEditing">重置</button>
        <div ng-show="dbMode.dbEditing">

            仓库模式<input type="checkbox" ng-model="initMode.capped"/>
            <div style="display: inline" ng-show="initMode.capped">
            <input   ng-model="initMode.size" value="">

            单位<select name="unit" ng-model="initMode.unit"><option value="1048576">M</option><option value="1024">G</option></select>
        </div><button type="button" class="btn btn-primary" ng-click="updateDbSize();" >确定</button>  </div>
    </div>
</div>
<div class="form-group">
    <label  class="col-sm-2 control-label">度量表名	</label>
    <div class="col-sm-10">
        <div input-tip="闪电狗内部使用" >
        <input  name="logCollection" ng-model="project.metricCollection" class="required valid setting-input form-control"   minlength="3"  >
        <span class="text-info"></span>
            </div>
    </div>
</div>
<div class="form-group">
    <label  class="col-sm-2 control-label">邮件列表</label>
    <div class="col-sm-10">
        <div input-tip="多个时用逗号分隔" >
        <input    ng-model="project.mailList" class="required valid setting-input form-control"   minlength="3"  >

    </div>       </div>
</div>
