<div class="top-nav">
<ul class="nav nav-pills ">
    <li ng-class="{active:$route.current.activeTab=='show'}"><a href="#/show/{{project.name}}" translate>link.monitor</a></li>
    <li  ng-class="{active:$route.current.activeTab=='warning'}"><a href="#/show/{{project.name}}/warning" translate>link.alerts</a></li>

    <li class="hidden-xs"     ng-class="{active:$route.current.activeTab=='task','un-auth':!auth.hasProject(project)}"><a href="#/show/{{project.name}}/task" translate>link.tasks</a></li>
    <li  class="hidden-xs"     ng-class="{active:$route.current.activeTab=='log','un-auth':!auth.hasProject(project)}"><a href="#/show/{{project.name}}/log" translate>link.logs</a></li>
    <li  class="hidden-xs"   ng-class="{active:$route.current.activeTab=='mongodb','un-auth':!auth.hasProject(project)}"> <a href="#/show/{{project.name}}/mongodb" translate>Mongodb</a></li>
    <li  class="hidden-xs"    ng-class="{active:$route.current.activeTab=='setting','un-auth':!auth.hasProject(project)}"> <a href="#/show/{{project.name}}/setting" translate>link.setting</a></li>

</ul>

</div>