<div class="top-nav">
<ul class="nav nav-pills ">
    <li ng-class="{active:$route.current.activeTab=='show'}"><a href="#/show/{{project.name}}">监控</a></li>
    <li  ng-class="{active:$route.current.activeTab=='warning'}"><a href="#/show/{{project.name}}/warning">告警</a></li>

    <li class="hidden-xs"     ng-class="{active:$route.current.activeTab=='task','un-auth':!auth.hasProject(project)}"><a href="#/show/{{project.name}}/task">定时任务</a></li>
    <li  class="hidden-xs"     ng-class="{active:$route.current.activeTab=='log','un-auth':!auth.hasProject(project)}"><a href="#/show/{{project.name}}/log">日志分析</a></li>
    <li  class="hidden-xs"   ng-class="{active:$route.current.activeTab=='mongodb','un-auth':!auth.hasProject(project)}"> <a href="#/show/{{project.name}}/mongodb">Mongodb</a></li>
    <li  class="hidden-xs"    ng-class="{active:$route.current.activeTab=='setting','un-auth':!auth.hasProject(project)}"> <a href="#/show/{{project.name}}/setting">设置</a></li>

</ul>

</div>