
<script src="app/js/vender/jquery/jquery.stream-1.2.js" type="text/javascript"></script>

<style type="text/css">
    .CodeMirror-scroll {
        height:500px;
    }
</style>
<script type="text/javascript">

    $( document ).ready(function () {


    }) ;
</script>

<div  ng-controller="LogCtrl">

    <div ng-include="'app/partial/project/_project_nav.html'" ></div>


     <div>

         <div id="content">

             <div style="display: inline;"  id="query_div">
                 关键字:<input type="text" id="key_word_input"  />
                 日志级别:<select id="level" >
                 <option value="">ALL</option>
                 <option value="DEBUG">DEBUG</option>
                 <option value="INFO">INFO</option>
                 <option value="WARN">WARN</option>
                 <option value="ERROR">ERROR</option>
             </select>
                 Date:
                 <input type="text" id="datepicker_start" onClick="WdatePicker({startDate:'%y-%M-%d 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})">


                 to: <input type="text" id="datepicker_end"   onClick="WdatePicker({startDate:'%y-%M-%d 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})" >

                 <input type="button" id="search_btn" ng-click="loadLog()" value="查询"  />
             </div>
             <input type="button" ng-click="downloadLog()"  value="下载"  />
             <input type="checkbox" ng-click="loadLog()" ng-model="autoLoad" id="refresh_check_box"  /> 实时输出
             <input type="button" ng-click=" clearLog()" value="清空输出"/><br/>

         </div>

         <textarea id="script_text" style="width:90%">正在加载</textarea>

     </div>
</div>
