<div  ng-controller="LogCtrl">
    <div ng-include="'app/partial/project/_project_nav.html'" ></div>
     <div>
         <div id="content">

             <div style="display: inline;"  id="query_div">
                 关键字:<input type="text" id="key_word_input"  />
                 日志级别:<select id="level" >
                 <option value="">ALL</option>
                 <option value="DEBUG">DEBUG</option>
                 <option value="INFO">INFO</option>
                 <option value="WARN">WARN</option>
                 <option value="ERROR">ERROR</option>
             </select>
                 Date:
                 <input type="text" id="datepicker_start" onClick="WdatePicker({startDate:'%y-%M-%d 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})">


                 to: <input type="text" id="datepicker_end"   onClick="WdatePicker({startDate:'%y-%M-%d 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})" >

                 <input type="button" id="search_btn" ng-click="loadLog()" value="查询"  />
             </div>
             <input type="button" ng-click="downloadLog()"  value="下载"  />
             <input type="checkbox" ng-click="loadLog()" ng-model="autoLoad" id="refresh_check_box"  /> 实时输出
             <input type="button" ng-click=" clearLog()" value="清空输出"/><br/>

         </div>

         <div>
             <div id="warning_tab_div">
                 <table class="table table-bordered table-hover table-condensed">
                     <thead>
                     <tr class="active">
                         <th width="5">日志名称</th>
                         <th>日志</th>
                         <th>日期</th>
                         <th>操作</th>
                     </tr>
                     </thead>
                     <tbody>

                     <tr ng-repeat="log in logs"    >

                         <td width="5">{{log.className}}</a></td>
                         <td>{{log.message}}</td>
                         <td>{{log.timestamp}}</td>
                         <td><a href="#/show/{{project.name}}/logmodel"  class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>修改模型</a></td>
                     </tr>
                     </tbody>
                 </table>
             </div>
         </div>

     </div>
</div>

