
<div id="content" ng-controller="MongodbCtrl">
    <div  js-console>
        <div ng-include="'app/partial/project/_project_nav.html'" ></div>



        <div   >
            <div class="tool-bar" style="text-align: left" >
                示例:<a class="btn  btn-sm btn-default template_btn" data-target="db_init_template"   >数据库检查 </a>
                <a   class="btn btn-default  btn-sm  template_btn" data-target="remove_metrics_template"  >清除监控因子</a>
            </div>
            <div style="border-top: 1px solid black; border-bottom: 1px solid black;">
                <textarea class="script-text"   name="script"   >db.stats()</textarea>
            </div>
            <br/>
            <div style="float:left;">
                <a  class="btn btn-primary btn-sm "  ng-click="runScript()"  >测试</a>
                <a   class="btn btn-default btn-sm "  ng-click="clearConsole()"  >清空</a>
            </div>
            <br/>
            <br/>
            <br/>



            <div style="border-top: 1px solid black; border-bottom: 1px solid black;">
                <textarea class="script-console" ></textarea>
            </div>
            <!--script template-->
            <div style="display: none">
                <div  id="db_init_template">
//检查表是否为仓库模式，并设定大小为1G
if(!db.{{project.logCollection}}.isCapped()){
	size=1 * 1024 * 1024 ;
	db.{{project.logCollection}}.drop() ;
	db.createCollection("{{project.logCollection}}", {capped:true, size:size});
	db.{{project.logCollection}}.ensureIndex({timestamp:1});
	return db.{{project.logCollection}}.stats()
}
                </div>
                <div  id="remove_metrics_template">
//删除指定度量
var name='错误日志占比';
db.{{project.metricCollection}}.remove({name:name});
return db.{{project.metricCollection}}.findOne({name:name});
                </div>

            </div>
        </div>
    </div>
</div>