
<script type="text/javascript">
    $(document).ready(function() {


        $("#add_form").validate();


    });
</script>

<div id="content" ng-controller="TaskEditControl">
    <div js-console>
    <div ng-include="'app/partial/project/_project_nav.html'" ></div>


    <form id="add_form" ng-submit="updateTask()" >
        <div class="tool-bar" style="text-align: left">
            <table>
                <tbody>
                <tr>
                    <td class="setting-name">名      称</td>
                    <td class="setting-main"><input name="name" id="task_name"   class="{required:true,name:true,minlength:2}" ng-model="task.name"/></td>
                </tr>
                <tr  >
                    <td class="setting-name">执行周期</td>
                    <td class="setting-main"><input name="cron" id="cron_text" class="{required:true,cron:true,minlength:6}"  ng-model="task.cron" value=""/>秒 分 时 天 月 年</td>
                </tr>
                <tr  >
                    <td class="setting-name">超时(秒)</td>
                    <td class="setting-main"><input name="timeout" id="time_out"  ng-model="task.timeout"/></td>
                </tr>
                <tr>  <td>
                    脚本模板
                </td> <td>  <a  class="btn btn-sm btn-default template_btn" data-target="err_log_template">日志监控</a>
                    <a  class="btn btn-sm  btn-default template_btn" data-target="money_stats_template" >指标监控</a>
                    <a  class="btn  btn-sm btn-default template_btn" data-target="key_word_template" >关键字监控</a>
                    <a  class="btn  btn-sm btn-default template_btn" data-target="jvm_stats_template">性能监控</a></td>
                </tr>
            </table>


    </div>

    <div style="border-top: 1px solid black; border-bottom: 1px solid black;">
        <textarea class="script-text"   name="script"   ></textarea>
    </div>
    <br/>
    <div style="float:left;">
        <input class="btn  btn-sm btn-primary" type="submit" value="确定"/>
        <input  class="btn  btn-sm btn-default " type="button" id="run_btn" ng-click="runScript()" value="测试"/>
        <input class="btn  btn-sm btn-default " type="button" id="clear_btn" ng-click="clearConsole()"  value="清空"/>
    </div>
    <br/>
    <br/>
    <br/>
    </form>


    <div style="border-top: 1px solid black; border-bottom: 1px solid black;">
        <textarea class="script-console" ></textarea>
    </div>
    <!--script template-->
    <div style="display: none">
        <div data-cron="40 */3 * * * *" id="jvm_stats_template">
var now = new Date;
var o=db.{{project.logCollection}}.findOne({"className":"org.log4mongo.contrib.JvmMonitor",timestamp:{$gt:new Date(now - 3*60*1000)}});
if(o){
	result = o.message.match(".*memoryUsed=(\\d+).*cpuUsed=(\\d+).*threadCount=(\\d+)");
	var memoryUsed = result[1]/1024;
	var cpuUsed = result[2];
	var threadCount = result[3];
	db.{{project.metricCollection}}.save({name:"memoryUsed (M)",value:memoryUsed,timeStamp:now.getTime()});
	db.{{project.metricCollection}}.save({name:"cpuUsed",value:cpuUsed,timeStamp:now.getTime()});
	db.{{project.metricCollection}}.save({name:"threadCount",value:threadCount,timeStamp:now.getTime()});
	return "cpuUsed="+ cpuUsed  +" memoryUsed="+memoryUsed  +" threadCount="+threadCount;
}
return "无记录";
        </div>
        <div data-cron="40 */5 * * * *" id="money_stats_template">
//统计日志里某些数字总值，如每5分钟收入等
m=function () {
	result = this.message.match(".*money=(\\d+)");
	if (result) {
		pricePaied = new NumberLong(result[1]);
		emit("pricePaied", pricePaied);
	}
}
r= function (key, values) {
	var total = 0;
	for (var i = 0; i < values.length; i++) {
		total += values[i];
	}
	return total;
}
res=db.{{project.logCollection}}.mapReduce(m, r, {out:"{{project.logCollection}}_output", query:{timestamp:{$gt:new Date(new Date - 300000)}}});
pricePaied=db.{{project.logCollection}}_output.findOne({_id:"pricePaied"});
if(pricePaied)
	v=pricePaied.value;
else
	v=0;
db.{{project.metricCollection}}.save({name:"5分钟收入",value:v,timeStamp:new Date().getTime()});
return res;
        </div>
        <div data-cron="20 */5 * * * *" id="key_word_template">
//统计日志里某些关键字频率，并提取到告警邮件里
var   metric_name="异常数据次数";
var cur = db.{{project.logCollection}}.find({message:/系统错误/,timestamp:{$gt:new Date(new Date - 60*60*1000)}});
var content = "";
var count=0;
cur.forEach( function(log) {
	count++;
	content =content+"\
	"+log.timestamp.toLocaleDateString()+" "+ log.timestamp.toLocaleTimeString() +" " +log["message"];
});

db.{{project.metricCollection}}.save({name:metric_name,value:count, content:content,timeStamp:new Date().getTime()});
return    "次数:"+ count +" 内容"+content;
        </div>

            <div data-cron="20 */5 * * * *" id="err_log_template">
//统计错误日志占比
err=db.{{project.logCollection}}.find({'level':'ERROR',timestamp:{$gt:new Date(new Date() - 300000)}}).count()
total=db.{{project.logCollection}}.find({timestamp:{$gt:new Date(new Date() - 300000)}}).count();
if(total==0) total=1;
value=err*100/total;
db.{{project.metricCollection}}.save({name:'错误日志百分比',value:value,timeStamp:new Date().getTime()});
return value;
        </div>
    </div>
</div>      </div>
