<div ng-controller="ProjectWarningsCtrl" >

    <div ng-include="'/flash-dog/app/partial/project/_project_nav.html'" ></div>


    <div class=" tool-bar pull-right ">

        <div class="btn-group visible-lg-inline">

            <a href="javascript:void(0)" ng-click="clearAlerts()" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i>删除</a>
        </div>

    </div>
     <div>

         <div id="warning_tab_div">
             <table class="table table-bordered">
                 <thead>
                 <tr class="active">
                     <th>事件</th>
                     <th>级别</th>
                     <th>内容</th>
                     <th>时间</th>
                 </tr>
                 </thead>
                 <tbody>

                 <tr ng-repeat="alert in alerts" ng-class-even="'success'">
                     <td>{{alert.title}}</td>
                     <td>{{alert.level}}</td>
                     <td>{{alert.content}}</td>
                     <td>{{alert.createTime}}</td>
                 </tr>
                 </tbody>
             </table>
         </div>
     </div>
</div>
