<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	<link rel="shortcut icon" type="image/x-icon" href="#springUrl('/app/images/logo.png')"/>
    <title>闪电狗监控</title>
    <script type="text/javascript" src="$link.setRelative('/js/jquery-1.7.2.min.js')"></script>
    <script type="text/javascript" src="$link.setRelative('/js/jquery.metadata.js')"></script>
    <script type="text/javascript" src="$link.setRelative('/js/jquery.validate.min.js')"></script>
    <script type="text/javascript" src="$link.setRelative('/js/application.js')"></script>
    <link rel="stylesheet" href="#springUrl('/js/jquery-ui-1.8.16.css')"  type="text/css" media="all"/>
    <script src="$link.setRelative('/js/jquery-ui-1.8.16.min.js')" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="$link.setRelative('/styles/style.css')">
    <script type='text/javascript' src="#springUrl('/js/google-jsapi.js')"></script>

    <script type='text/javascript' src="#springUrl('/js/google-visualization-corechart.I.js')"></script>


</head>
<body>
<div id="top-menu">
    <div id="account">
        <ul>
            #if($authz.isAuthenticated())
                <li><a href="" class="login">$authz.principal</a></li>
                <li><a href="$link.setRelative("/j_spring_security_logout")" class="login">退出</a></li>
                #else
                <li><a href="$link.setRelative("/j_spring_security_check")" class="login">登录</a></li>
            #end

        </ul>
    </div>


    <ul>
##        <li><a href="" class="my-page">我的工作台</a></li>
        <li><a href="$link.setRelative("projects")" class="projects">项目</a></li>
         #if($authz.isAdmin())
             <li><a href="$link.setRelative("/admin/user/list")" class="help">管理</a></li>
        #end

    </ul>
</div>
    $screen_content<br/>
</body>
</html>