#set($mainMenu='tasks')
#parse("/WEB-INF/content/project/_header.vm")
<script type="text/javascript">

    $(document).ready(function() {
        $("#add_form").validate();
       // drawTasks();
    });

    function drawTasks() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', '名称');
        data.addColumn('string', '执行周期(cron)');
        data.addColumn('string', '操作');

        #foreach($task in $tasks)
            data.addRow([  '<a href="$link.setRelative("/projects/${project.name}/tasks/$task.name")">$task.name</a>' , '$task.cron' ,
                '<a href="$link.setRelative("/projects/${project.name}/tasks/$task.name")/destroy" onclick="return confirm("您确定？")"  class="icon icon-delete"></a>']);
        #end


        var chart = new google.visualization.Table(document.getElementById('tasks_div'));
        chart.draw(data, {showRowNumber:false, 'allowHtml':true});
    }
</script>
<div id="content">
    <div>
        <div>
            <h2>所有任务</h2>
        </div>
        <div align="right">
            <form id="add_form" action="$link.setRelative("/projects/${project.name}/tasks/new")" method="post">
                <input name="taskName" class="{required:true,taskName:true,minlength:2}"  type="text">
                <input type="submit" value="新建任务">
            </form>
        </div>

    </div>
    <div id="tasks_div" style="text-align: center"></div>

    <table class="list files">
        <thead>
        <tr>
            <th>名称</th>
            <th>执行周期(cron)</th>

            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            #foreach($task in $tasks)
            <tr class="file odd">
                <td><a href="$link.setRelative("/projects/${project.name}/tasks/$task.name")">$task.name</a>
                </td>
                <td>$task.cron</td>
                 <td>

                    <a href="$link.setRelative("/projects/${project.name}/tasks/$task.name")/destroy"
                       onclick="return confirm('您确定？')"  class="icon icon-delete"></a>


                </td>
            </tr>
            #end

        </tbody>
    </table>
    <div>

    </div>
</div>
