#set($mainMenu='logs')
#parse("/WEB-INF/content/project/_header.vm")
<script src="$link.setRelative('/jsEditor/codemirror.js')" type="text/javascript"></script>
<script src="$link.setRelative('/jsEditor/model/javascript.js')" type="text/javascript"></script>
<script src="$link.setRelative('/js/My97DatePicker/WdatePicker.js')" type="text/javascript"></script>
<link rel="stylesheet" href="$link.setRelative('/jsEditor/codemirror.css')">
<link rel="stylesheet" href="$link.setRelative('/jsEditor/model/javascript.css')">
	    <style type="text/css">
			.CodeMirror-scroll {
				height:400px;
			}
		</style>
<script type="text/javascript">
    var lastDate=0;
	var  script_text;
    $(document).ready(function() {
        setInterval(refreshLog,5000);

         $("#clear_btn").click(function() {
             script_text.setValue("");
         });
		 
	script_text = CodeMirror.fromTextArea(document.getElementById("script_text"), {
	lineNumbers: true,
	electricChars: false
  });

    });
    function  refreshLog(){
       if($("#refresh_check_box:checked").length==1){
            var params = jQuery.param({
            start:$("#datepicker_start").val(),
            end:$("#datepicker_end").val(),
            keyWord:$("#key_word_input").val(),
            level: $("#level").val()});
            jQuery.ajax({
                url:"$link.setRelative("/projects/${project.name}/logs/more?format=json")",
                data: params,
                type:'get',
                success : function(msg) {
                    appendLogs(msg.logs);

                } ,
                fail:
            });
        }
    }
    function appendLogs(logs){
      var text="";

      logs.reverse();
      for(var key in logs){
          var log=logs[key];
          var date= new Date(log.timestamp);
          var loggerName=log.loggerName?log.loggerName.fullyQualifiedClassName:log.class;
          text += $ .datepicker.formatDate('yy-mm-dd',date) +" " +date.getHours()+":"+date.getMinutes()+":"+date.getSeconds()+" " + log.level + " "
                 +"[" +loggerName+"] - "
                  + log.message;
          text += "\n";

      }
      script_text.setValue(text);
    }
</script>

<div id="content">
    <div>
        <h2>日志</h2>
    </div>

    关键字:<input type="input" id="key_word_input"  />
    日志级别:<select id="level" >
        <option value="">ALL</option>
         <option value="DEBUG">DEBUG</option>
        <option value="INFO">INFO</option>
        <option value="WARN">WARN</option>
        <option value="ERROR">ERROR</option>
    </select>
  Date: <input type="text" id="datepicker_start"  onClick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:false})")">
  to: <input type="text" id="datepicker_end"      onClick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:false})">
    <input type="checkbox" id="refresh_check_box"  checked="checked"/>自动刷新
    <input type="button" id="clear_btn" value="清空输出"/><br/>

</div>

<textarea id="script_text" style="width:90%">正在加载</textarea>
